// Color
$color-dark-indigo: #3a437c;
$color-vibrant-pink: #f7588d;
$color-deep-charcoal: #232631;
$color-soft-linen: #f1e9e6;

// Fonts
$ff-cascadia: "Cascadia Mono", "Arial", sans-serif;
$ff-noto: "Noto Sans", "Arial", sans-serif;